<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    function rowClicked(value) {
        location.href = "/infos/" + value;
    }
</script>
<head lang="en"> 
    <title>Information Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link th:href="@{/styles/allTableStyle.css}" rel="stylesheet" />
    <script src="js/sortable.js"></script>
</head>

<body>
<h2>Information website</h2>

	
    <table border=1 class="sortable">
	  <tr>
	  <th>Info ID</th>
	  <th>Subject</th>
	  <!--   <th>Description</th> -->
	  <th>Technology Category</th>
	  <th>Technology Type</th>
	  <th>Submit Date</th>
	  <th>Modified Date</th>
	  		
	  <tr th:each="info : ${allInfos}" style="cursor: pointer"
     	th:onclick="'javascript:rowClicked(\'' + ${info.id} + '\');'"
     	onmouseover="this.bgColor ='#C0C0C0';this.style.cursor='pointer'" 
	  	onmouseout="this.bgColor='';this.style.cursor='default'">

        <td th:text="${info.id}">1</td>
        <td th:text="${info.subject}">1</td>
        <!--  <td th:text="${info.description}">1</td> -->
        <td th:text="${info.technology.category}">1</td>
        <td th:text="${info.technology.technologyType}">1</td>
        <td th:text="${info.submitDate}">1</td>
        <td th:text="${info.modifiedDate}">1</td>
      
      </tr>
      
	</table>
    
</body>
</html>