<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/styles/allTableStyle.css}" rel="stylesheet" />
</head>
<body>
    
    <h2> <p th:inline="text">Welcome to Information Application</p> </h2>
	
	<a href="/infos" name="Info"> Infos</a> <br><br>
    <a href="/problems" name="Problems"> Problems</a> <br><br>
    <a href="/techs" name="Techs"> Technology</a> <br><br>
    
    <h2> <p th:inline="text">Add New Data</p> </h2>
    
    <a href="/infos/add" name="Info"> Add Info</a> <br><br>
    <a href="/problems/add" name="Problems"> Add Problem</a> <br><br>
    <a href="/techs/add" name="Techs"> Add Technology</a> <br><br>
    
 </body>
</html>