<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    function rowClicked(value) {
        location.href = "/problems/" + value;
    }
</script>
<head lang="en">
 
    <title>Problem Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


	<script type="text/javascript" th:src="@{/js/tableSort.js}"></script>
</head>

<body>
<h2>Information website</h2>

    <table border=1 class="sortable searchable">
	  <tr>
	  <th>Problem ID</th>
	  <th>Problem</th>
	  <!-- <th>Reason For Problem</th>
	   <th>Solution</th> -->
	  <th>Technology Category</th>
	  <th>Technology Type</th>
	  <th>Submit Date</th>
	  <th>Modified Date</th>
	  
	  <tr th:each="problem : ${allProblems}" style="cursor: pointer"
     	th:onclick="'javascript:rowClicked(\'' + ${problem.id} + '\');'"
     	onmouseover="this.bgColor ='#C0C0C0';this.style.cursor='pointer'" 
	  	onmouseout="this.bgColor='';this.style.cursor='default'">
        <td th:text="${problem.id}">1</td>
        <td th:text="${problem.problem}">1</td>
        <!--  <td th:text="${problem.reasonForProblem}">1</td>
        <td th:text="${problem.solution}">1</td> -->
        
        <td th:text="${problem.technology.category}">1</td>
        <td th:text="${problem.technology.technologyType}">1</td>
        <td th:text="${problem.submitDate}">1</td>
        <td th:text="${problem.modifiedDate}">1</td>
      </tr>
      
	</table>
    
</body>
</html>